body {
    font-family: Verdana, sans-serif;
    background-color: #333;
    color: #00e115;
    text-align: center;
}

.df_container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, h3 {
    width: 100%;
    text-align: center;
}

.game_link{
    color: #006000;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead th {
    background-color: #006000;
    color: #77ff00;
    text-align: center;
}

thead th:nth-of-type(even) {
    background-color: #004500;
}

thead th:nth-last-child(-n + 3) {
    background-color: #5C0000;
}

th, td {
    word-wrap: normal;
    padding: 12px 15px;
    text-align: center;
    color: #00ff00;
    background-color: #045904;
}

tbody tr {
    border-bottom: 1px solid #757373;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody td:nth-of-type(even) {
    background-color: #067806;
}

tbody td:nth-last-child(-n + 3) {
    border-bottom: 1px solid #737373;
    border-right: 2px solid #009879;
    background-color: #5C0000;
    font-weight: bold;
}

#level_selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkselect {
    position: relative;
	min-width: 300px;
	text-align: left;
}
.checkselect-control {
	position: relative;
	padding: 0 !important;
}
.checkselect-control select {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0;
	padding-left: 5px;
	height: 30px;
	background: #888;
	color: #111;
}
.checkselect-over {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}
.checkselect-popup {
	display: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	max-height: 300px;
	position: absolute;
	top: 100%;
	left: 0px;
	border: 1px solid #dadada;
	border-top: none;
	background: #888;
	color: #111;
	z-index: 9999;
	overflow: auto;
	user-select: none;
}
.checkselect label {
	position: relative;
	display: block;
	margin: 0;
	padding: 4px 6px 4px 25px;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.1;
	cursor: pointer;
}
.checkselect-popup input {
	position: absolute;
	top: 5px;
	left: 8px;
	margin: 0 !important;
	padding: 0;
}
.checkselect-popup label:hover {
	background: #008000;
	color: #111;
}
.checkselect-popup fieldset {
	display: block;
	margin:  0;
	padding: 0;
	border: none;
}
.checkselect-popup fieldset input {
	left: 15px;
}
.checkselect-popup fieldset label {
	padding-left: 32px;
}
.checkselect-popup legend {
	display: block;
	margin: 0;
	padding: 5px 8px;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.1;
}
.submit_button{
    text-align: center;
}

input[type="submit"] {
    margin-top: 10px;
    text-decoration: none;
    background-color: #008000;
    color: #111;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #004000;
}

.back_button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    background-color: #008000;
    color: #111;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back_button:hover {
    background-color: #004000;
}
