<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СтаткоДроч</title>
    <link href="{{ url_for('static', path='/index_style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>СтаткоДроч</h1>
        <form action="" method="post">
            <input type="text" name="url" placeholder="Вставьте ссылку на статистику и нажмите кнопку...">
            <br>
            <input type="submit" value="Отправить">
        </form>
    </div>
</body>
</html>